@import "./variables.css";
@import "tailwindcss";

.theme-image {
  filter: brightness(var(--image-brightness));
  transition: filter 0.3s ease;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}